<html>  
    <head>
        <meta charset="utf-8"/>
        <title>Tic Tac Toe : VueJS&Golang</title>
        <style>
            td{
                width:100px;
                height:100px;
            }
            table{
                margin: auto;
            }
            .containery{
                max-width: 540px;
                margin:auto;
            }
            button{
                border: 0;
                width: 100%;
                height: 100%;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.2/vue.global.prod.min.js"
            integrity="sha512-7P7lFBUn6CRr4WuUbulphJOYHezTCkAzX3VFxJCDquccViigTgSkKFEzUga5pehRCXrX9nj44pJuZ8l8TUnUkg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="container" id="app">
            <h1 style="text-align: center;">Tic Tac Toe</h1>
            <table>
                <tr>
                    <td :style="(turn == 'X' ? 'background-color: aqua;' : '') + ' border-radius: 10px;'">
                        <h3 style="text-align: center;">X (You)</h1>
                    </td>
                    <td :style="(turn == 'O' ? 'background-color: aqua;' : '') + ' border-radius: 10px;'">
                        <h3 style="text-align: center;">O (AI)</h1>
                    </td>
                </tr>
            </table>
            <table border="1">
                <tr v-for="(row,key) in board" :key="key">
                    <td v-for="(col,key1) in row" :key="key+'_'+key1">
                        <button v-text="col" @click="manual_click(key, key1)" style="font-size: large;"></button>
                    </td>
                </tr>
            </table>
        </div>
        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        board: [
                            ['', '', ''],
                            ['', '', ''],
                            ['', '', ''],
                        ],
                        turn : 'X',
                        gameover : false
                    }
                },
                methods:{
                    // change_turn(){
                    //     this.turn = this.turn == 'X' ? 'O' : 'X' 
                    // },
                    manual_click(row, col){
                        this.board[row][col] = this.turn
                        this.check_game()
                    },
                    check_game(){
                        if (this.board[0][0] == this.board[0][1] && this.board[0][1] == this.board[0][2] && this.board[0][2] == this.board[0][0] && this.board[0][0] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[1][0] == this.board[1][1] && this.board[1][1] == this.board[1][2] && this.board[1][2] == this.board[1][0] && this.board[1][0] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[2][0] == this.board[2][1] && this.board[2][1] == this.board[2][2] && this.board[2][2] == this.board[2][0] && this.board[2][0] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[0][0] == this.board[1][0] && this.board[1][0] == this.board[2][0] && this.board[2][0] == this.board[0][0] && this.board[0][0] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[0][1] == this.board[1][1] && this.board[1][1] == this.board[2][1] && this.board[2][1] == this.board[0][1] && this.board[0][1] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[0][2] == this.board[1][2] && this.board[1][2] == this.board[2][2] && this.board[2][2] == this.board[0][2] && this.board[0][2] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[0][0] == this.board[1][1] && this.board[1][1] == this.board[2][2] && this.board[2][2] == this.board[0][0] && this.board[0][0] == this.turn) {
                            this.gameover = true
                        }
                        if (this.board[0][2] == this.board[1][1] && this.board[1][1] == this.board[2][0] && this.board[2][0] == this.board[0][2] && this.board[0][2] == this.turn) {
                            this.gameover = true
                        }

                        let have_value = 0
                        if(!this.gameover){
                            for (let i = 0; i < 3; i++) {
                                for (let j = 0; j < 3; j++) {
                                    if (this.board[i][j]) {
                                        have_value++
                                    }
                                    else{
                                        have_value--
                                    }
                                }
                            }
                            if(have_value == 9){
                                this.gameover = true
                            }
                        }

                        if(this.gameover){
                            if(have_value != 9){
                                alert(this.turn+' WIN!!')
                            }
                            else{
                                alert('DRAW!!')
                            }
                        }
                        else{
                            this.turn = this.turn == 'X' ? 'O' : 'X'
                        }
                    }
                },
                watch:{
                    gameover(){
                        if (this.gameover) {
                            this.board = [
                                ['', '', ''],
                                ['', '', ''],
                                ['', '', '']
                            ]
                            this.turn = 'X'
                            this.gameover = false
                        }
                    },
                    turn(){
                        let random_temp = []
                        if(this.turn == 'O'){
                            for(let i=0; i<3; i++){
                                for(let j=0; j<3; j++){
                                    if(this.board[i][j] == ''){
                                        random_temp.push({'x':i, 'y':j})
                                    }
                                }
                            }
                            index_random = random_temp[Math.floor(Math.random() * random_temp.length)]
                            this.board[index_random["x"]][index_random["y"]] = 'O'
                            this.turn = 'X'
                        }
                    }
                }
            })
            app.mount('#app');
        </script>
    </body>
</html>  