{{ define "header.tmpl" }}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="tic=tac-toe-gin-vue by Nawin Boonradsuwan">
    <meta name="theme-color" content="#000000">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.2/vue.global.prod.min.js"
        integrity="sha512-7P7lFBUn6CRr4WuUbulphJOYHezTCkAzX3VFxJCDquccViigTgSkKFEzUga5pehRCXrX9nj44pJuZ8l8TUnUkg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

{{ end }}