{{ define "index.tmpl" }}
    
    {{ template "header.tmpl" }}
    <title>Freetime with Gin&Vue</title>
</head>
<body style="height: calc(100vh - 50px);">
    <div class="card">
        <div class="container">
            <h1>Freetime with Gin&Vue</h1>
            <h3>Frontend : Vue3</h3>
            <h3>Backend : Gin</h3>
            <a href="https://github.com/dewscan001/gin-vue" rel="noopener" target="_blank">
                <img src="/static/github.svg" width="30" height="30" alt="GitHub" />
            </a>
            <a href="https://dewscan001.herokuapp.com" rel="noopener" target="_blank">
                <h3>Create by Nawin Bunradsuwan</h2>
            </a>
            <hr>
            <a href="https://gin-vue.herokuapp.com/tic-tac-toe" rel="noopener">
                <h2>Tic Tac Toe</h2>
            </a>
        </div>
    </div>
    <link rel="preload" href="https://61b334f6de7b690618061d85--relaxed-heyrovsky-746bdb.netlify.app/static/style.css" as="style">
    <link rel="stylesheet" href="https://61b334f6de7b690618061d85--relaxed-heyrovsky-746bdb.netlify.app/static/style.css">
</body>
</html>
{{end}}