{{ define "index.tmpl" }}
    
    {{ template "header.tmpl" }}
    <title>Freetime with Gin&Vue</title>
</head>
<body style="height: calc(100vh - 50px);">
    <iframe src="https://61b334f6de7b690618061d85--relaxed-heyrovsky-746bdb.netlify.app/template/gin-vue.html" width="100%" height="100%" style="border-width: 0px;"></iframe>
</body>
</html>
{{end}}